<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Куншина Екатерина Владимировна</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1991</h4>
                                    <h4 class="subheading">Образование</h4> 
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">1991 - окончила Театральный художественно-технический колледж</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Июнь 2008</h4>
                                    <h4 class="subheading">Образование</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Окончила МГАХИ им. В.И. Сурикова, живописное отделение(мастерская Т.Г. Назаренко)</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>С 2009</h4>
                                    <h4 class="subheading">член Московского союза художников</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">c 1999г. член Международного художественного фонда</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>C 1991.</h4>
                                    <h4 class="subheading">Выставки</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> 
                                        1991 – Всероссийский музей Декоративно-прикладного и народного искусства<br>
                                        1993 – “Весна - 93”, выставочный центр “Московская галерея” Московского союза художников<br>
                                        1993 – “20-й Молодежная выставка”, выставочный центр “Московская галерея” Московского союза художников<br>
                                        1994 – “Осенняя выставка”, выставочный центр “Московская галерея” Московского союза художников<br>
                                        1995 – “Молодежная выставка”, выставочный центр “Московская галерея” Московского союза художников<br>
                                        1996 – “Падекатр”, ЦДХ на крымском валу<br>
                                        1997 - Оформление сцены в киноконцертном зале Центрального Дома Художников
                                        для рок концерта Наталии Медведевой<br>
                                        1998 – оформление и выставка в московском ночном клубе<br>
                                        2006 – “Мой город”, в галерее “Феникс”<br>
                                        2009 - "«Москве посвящается»" выставочный зал при Московском союзе художников на 1-й Тверской-Ямской<br>

                                        Работы находятся в частных коллекциях в России, США, Канаде, Франции.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>