<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Ekaterina Kunshina</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Study</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Graduated from the Theatre Art Technical College</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Study</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Graduated  from  the  Academy  of  Arts  V.I.Surikov,   painting  department</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Present Day</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Member of the International Art Fund</p>
                                    <p class="text-muted">Member of the Moscow Union of Artists</p>
                                    <p class="text-muted">Works are in private collections in the international</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>